* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main-container {
    background-image: url("../images/h_img.jpg");
    height: 100vh;
    color: white;
  
}
.descript{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.descript h2,h3,p, img{
    padding: 17px 0;
}
#about-container{
 padding: 40px 0;
}
#about-container p{
    font-size: 20px;
    margin: 20px 0;
}