* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main-container {
    background-image: url("../images/h_img.jpg");
    height: 100vh;
    color: white;
  
}
.descript{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.descript h2,h3,p, img{
    padding: 17px 0;
}
#about-container{
 padding: 40px 0;
}
#about-container p{
    font-size: 20px;
    margin: 20px 0;
}
#serv{
    background-image: url("../images/s_image.jpg");
 
}
#service-container{
    color: white;
}
#service-container h2{
     padding-top: 40px;
}
#service-container p{
    font-size: 20px;
    font-weight:normal;
}
/* what we do */
#colums{
    display: flex;
     /* text-align: center; */
    justify-content:space-around; 
padding: 40px;
}
.what-we-do h2{
    text-align: center;
    padding-top: 40px;
}
.cols-2{
    justify-content: space-between;
    text-align: center;
    /* background-color: tomato; */
    width: 40%;
}
.cols-2 h2{
    font-size: 24px;
    text-align: center;
}
/* portfolio section */
.col-3 img{
width: 100%;
}
.container h2{
    text-align: center;
}



/* contact section */
#contact-container{
    /* background-color: tomato; */

}
#contact-container input{
width: 40%;
margin: 20px 20px;
padding: 10px;
background-color: transparent;
border: 1px solid white;
color: white;
}
.container textarea {
    width: 80%;
    height: 35vh;
    background-color: transparent;
    border: 1px solid white;
    color: white;

}
#contact{
    background-image: url("../images/c_image.jpg");
    height: 74vh;
    background-repeat: no-repeat;
    background-size: cover;


}
#contact-container{
    padding-top: 40px;
}
#contact-container h2{
    text-align: center;
    color: white;
}
form{
    text-align: center;
}
.icons{
    text-align: center;
    padding-top: 20px;
}
/* footer */
footer h5{
    text-align: center;
    font-size: 16px;
    /* padding-top: 20px; */
}
footer{
    padding-top: 20px;
}


/* for jquery */
.cols-2 p{
    display: none;
}

#overlay,#overlay2,#overlay3,#overlay4,#overlay5,#overlay6,#overlay7,#overlay8{
    display: none;
    color: black;
    width: 100%;
    height: 100%;
    background-color:rgba(255, 255, 255, 0.456);
    position:absolute;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    padding-top: 50%;
  }